.loginpage{
    top:20%;
    left:27%;
   position : relative;
}


 body 
 {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-tertiary: #ffeee6;
    background-color: #D1D1D1; 
}
.carre h2 
{
    bottom:85%;
    left:50%;
    transform: translateX(-50%);
    font-family: 'lilita one';
    font-size: 30px;
    font-weight: 600;
    color: var(--color-secondary);
    position: absolute;
    font-family: Lilita One;

} 
.accountsoption h4{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
    font-family: Lilita One;
    color: rgba(227, 227, 227, 0.3956);
    margin-top: 100px;

}
input[type='login'],
input[type='password'] 
{
    width: 40%;
    height: 28px;
    margin: 15px 0;
    border: none;
    border-radius: 15px 15px 15px 15px;
    font-weight: 600;
    font-size: 17px;
    background: linear-gradient(90deg, rgba(227, 227, 227, 0.3956) 15.52%, rgba(152, 148, 148, 0.1564) 68.98%);
    padding: 10px 20px; 
    cursor: pointer;
}
.carre 
{
    width:600.377px;
    height: 800px;
    margin-left: 75px;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
    top: 49.5%; 

  transform: translateY(-50%);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.11) 8.05%, rgba(255, 255, 255, 0.10) 55.3%, rgba(227, 227, 227, 0.00) 97.45%);
        
}
.circle 
{
    width: 80px;
    height: 81.7px;
    flex-shrink: 0;
    background-color: black;
    border-radius: 150px 150px 0 0;
    position: relative;
     border-radius: 50%;
     margin: 0 auto;
     transform: translateY(-50%);
     border: 2px solid rgba(242, 158, 59, 1);
     align-items: baseline;
}

.signin{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;
    margin-top: 60px;
    margin-right: 100px;
gap: 45.201px;
}
.smallcircle 
{
    width: 28.13px;
    height: 27.57px;
    flex-shrink: 0;
    background-color: black;
    position: absolute;
    border-radius: 50%;

    border: 3px solid #BFBFBF;
    top: 10px;  
    left: 23px;
}
.demicercle 
{
    width: 50.84px;
    height: 5px;
    background-color: transparent;
     border-radius: 150px 150px 0 0;
    top: 50.66px;  
    right: -12px; 
    position: relative;
    border: 3px solid #BFBFBF
}

input[type='login']::placeholder,
input[type='password']::placeholder {
    opacity: 100%;
}
.rectangle
{
    width:1520.377px;
    height: 982px;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
    border: 3px solid #BFBFBF;
    background-color: #353535;
    top:50%;
    left:50%;
    display: flex;
    transform: translate(-50%, -50%); 
}
.separetor
{
        width: 2px; 
      height: 718px;
      background: #B9B9B975;
      border: 2px ;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
    .rememberoption{
        display: flex;
        justify-content: center; /* Centre horizontalement */
        align-items: center;
        margin-top: 25%;   
    }
.rememberoption label {
color: rgba(227, 227, 227, 0.3956);
}
.rememberoption a {
    margin-left: 40px;
    text-decoration: none;
   color:  #D73636;

}
.rememberoption span{
  color:rgba(227, 227, 227, 0.3956);
}
label input[type="checkbox"] {
    border: 1px solid  #BFBFBF;
    background-color: #000000;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    vertical-align: -10.5% ; 
    cursor: pointer;
}
label input[type="checkbox"]:checked {
    filter: grayscale(1); 
}
* {
    margin: 0;
    padding: 0;
}
.carre button {
     width: 250px;
    height: 50px;
    margin-top: 60px ; 
    margin-left: 175px;
    border: 1.5px solid white;
    border-radius: 25px 25px 25px 25px;
    color: white;
    background: black;
    font-weight: 600;
    font-size: 17px;
    padding: 10px 20px; 
    cursor: pointer;
}
.carre p{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: rgba(227, 227, 227, 0.3956);
    margin-top: 20px;;
}
.signup-link {
    margin-left: 20px; /* Adjust the margin as needed */
    text-decoration: none;
    color:#D73636;
}
.carredouble
{
    width:600.377px;
    height: 800px;
    /* margin-right:60px; */
    /* display: flex; */
    justify-content: center;  
    align-items: center;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
  left: 55.5%;
  top: 9%; 
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.11) 8.05%, rgba(255, 255, 255, 0.10) 55.3%, rgba(227, 227, 227, 0.00) 97.45%);
}

  
.signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    width: 60%;
    height: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .signupform button {
    width: 250px;
    height: 50px;
    margin-top: 60px ; 
    border: 1.5px solid white;
    border-radius: 25px 25px 25px 25px;
    color: white;
    background: black;
    font-weight: 600;
    font-size: 17px;
    padding: 10px 20px; 
    cursor: pointer;
    margin-top: 80%;

  }
  .signupform h2 {
    bottom:85%;
    left:50%;
    text-align: center;
    transform: translateX(-50%);
    font-family: 'lilita one';
    font-size: 30px;
    font-weight: 600px;
    color: var(--color-secondary);
    position: absolute;
    font-family: Lilita One;

  }

  .signupform p {
  
    font-family: 'lilita one';
    font-size: 20px;
    color: #E3E3E3B2;
    position: absolute;
    margin-bottom: 20%;
    left:10%;
    display: flex;
    text-align: center;
  }